@tailwind base;
@tailwind components;
@tailwind utilities;
.background {
  background-color: #f7ffef;
  background-image: url("./assets/background.png");
  background-size: cover;
  background-position: top;
  height: 150vh;
}
